.panel {
    
    width: 68%;
    height: 100%;
    display: flex;
    
    border-radius: 15px;
    position: relative;
    padding: 35px 75px;
    flex-direction: column;
    /* outline: solid red 2px; */
    justify-content: space-between;
    color: #02295a;
    

}

.low-btns {
    display: flex;
    justify-content: space-between;
    /* background-color: red; */
    /* position: absolute; */
    align-items: center;
    bottom: 30px;
    width: 100%;
    align-self: flex-end;
}

.low-btns span {
    font-size: 13px;
    font-weight: bold;
    opacity: 70%;
    cursor: pointer;
    user-select: none;
    color: black;
}

.low-btns span:hover {
    color: #02295a;
    opacity: 100%;
    /* font-weight: bold; */
}

#btn {
    
    /* padding: 12px 26px; */
    border-radius: 10px;
    border: none;
    font-size: 12px;
    right: 30px;
    background-color: #02295a ;
    color: white;
    font-family: sans-serif;
    align-self: flex-end;
    cursor: pointer;
    justify-self: flex-end;
    width: 105px;
    height: 38px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}



.form h2 {
    font-size: 25px;
}
.form p {
    font-size: 12px;
    opacity: 50%;
    margin: 3px 0;
    color: black;
    font-weight: 500;
}

.fields, .add-ons {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 30px;
}
.fields label {
    display: flex;
    flex-direction: column;
    gap: 7px;
    font-size: 13px;
    font-weight: bold;
}

.fields label input {
    height: 40px;
    border-radius: 8px;
    padding: 5px 10px;
    color: #02295a;
    border: solid rgba(0, 0, 0, 0.171) 2px;
    /* outline-offset: none; */
    /* outline: solid 1px #02295a ; */
    outline: none;
}




/* Step-1 */
.panel-1 {

    background-color: white;
}

.upperField {
    display: flex;
    justify-content: space-between;
}

.required {
    color: red;
    font-size: 12px;
    display: none;
}

/* Step-1 End */


/* Step-2 Start */

.panel-2 {
    background-color: white;

}

.plans {
    display: flex;
    gap: 10px;
    margin-top: 34px;
    /* outline: solid red 1px; */
    justify-content: space-between;
}

.plan {
    display: flex;
    flex-direction: column;
    gap: 20px;
    min-width: 30%;
    align-items: flex-start;
    padding: 12px;
    border-radius: 15px;
    border: solid 1px rgba(0, 0, 0, 0.116);
}

.plan:hover {
    border: #473dff solid 1px;
    /* background-color: #f8f9fe; */
    cursor: pointer;
}

.plan h2 {
    /* opacity: 60%; */
    font-size: 15px;
    /* font-weight: 1200; */
}

.plan-price {
    font-size: 11px;
    opacity: 60%;
    font-weight: 500;
    color: black;
}

.plan img {
    width: 34px;
}

.plan-detail {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.free {
    font-size: 11px;
    font-weight: bolder;
    
}

/* Styling switch section */
.switch {
    padding: 15px;
    background-color:#f8f9fe;
    border-radius: 10px;
    
    margin: 20px 0;
   
}

.innerSwitch {
    display: flex;
    justify-content: space-between;
    /* outline: solid red 1px; */
    width: 50%;
    margin: 0 auto;
    font-size: 12px;
    font-weight: bolder;

}

.bar {
    width: 30px;
    border-radius: 50px;
    height: fit-content;
    
    background-color: #02295a;
    color: #02295a;
    user-select: none;
    /* padding: 4px; */
    display: flex;
    align-items: center;

    /* togle controller */
    
    cursor: pointer;
    /* position: relative; */
    
}

.circle {
    width: 10px;
    height: 10px;
    color: white;
    background-color: white;
    border-radius: 7px;
    font-size: 10px;
    display: block;
    align-self: flex-start;
    margin: 3px 4px;
    /* position: a; */
    justify-self: flex-end;
    align-self: flex-end;
}


/* Step-2 End */

.panel-3 {
    background-color: white;
}

/* Step-3 Start */
.adds {
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    border-radius: 10px;
    border: solid 1px rgba(0, 0, 0, 0.123);
    padding: 15px 10px;
    cursor: pointer;
}

.adds:hover {
    border: solid 1px #473dff;

}

.adds h3 {
    font-size: 13px;
}

.adds input {
    /* width: 40px; */
    /* border: solid red 2px; */
}
.add-ons {
    
    
    
    display: flex;
}

.price-3 {
    margin-left: auto;
}

.adds-info {
    margin-left: 10px;
    justify-self: flex-start;
    /* border: solid red 2px; */
}



/* Step-3 End */

.panel-4 {
    background: white;
}

.summary {
    margin-top: 34px;
    display: flex;
    flex-direction: column;
    gap: 25px;
    
}



.summaryinner {
    background-color: #f8f9fe ;
    padding: 15px;
    border-radius: 8px;
    font-size: 14px;
    
}

#upperSpan {
    text-decoration: underline;
    font-size: 13px;
    color: black;
    opacity: 50%;
}
.upper {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

  

.lower {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    font-size: 13px;
    opacity: 60%;
}

.summary h5 {

    font-size: 16px;
    margin-left: 15px;
    /* opacity: 0%; */
    font-weight: bold;

}

.row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.total {
    display: flex;
    justify-content: space-between;
}

.total h5:first-child {
    font-size: 13px;
    opacity: 60%;
}

.total h5:nth-child(2) {
    margin-right: 15px;
    opacity: 100%;
    font-weight: bolder;
}


/* Final panel */
.panel-5 {
    /* background-color: yellow; */
    display: flex;

    align-items: center;
    justify-content: center;
}
.inner {
    height: fit-content;
    /* background-color: blue; */
    /* width: 40%; */
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 30px;
    width: 95%;
    text-align: center;
    font-size: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    /* outline: red solid 1px; */
}

.inner img {
    width: 65px;
}

.inner h2 {
    font-size: 25px;
}

.inner p {
    font-size: 15px;
    opacity: 50%;
    line-height: 20px;
    margin-top: -17px;
}





